// INDEX HTML
extends template.pug
block head
	script(type='text/javascript').
		var add_button;
		var remove_button;
		$(document).ready(()=> {
			add_button = $('#add_button');
			remove_button = $('#remove_button');
			_id = '?id=' + !{id} + '&add=true';
			
			add_button.attr('href', '/inventory'+_id);
			
			_id = '?id=' + !{id} + '&add=false';
			remove_button.attr('href', '/inventory'+_id);
		});
		
block body
	h1 !{inventory_object.description}
	p Part Number: !{inventory_object.upc}
	br
	p Current QTY: !{inventory_object.current_amount}
	br
	p QTY: 
	input#qty_input
	br
	a#add_button
		button Add
	a#remove_button
		button Remove
