extends template.pug

block head
    script(type="text/javascript")
        //$(document).ready(() => { })
block body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') CSS Inventory
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/dashboard') Dashboard
                    li
                        a(href='/settings') Settings
                    li
                        a(href='/profile') Profile
                    li
                        a(href='/help') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar(style="margin-top: 4em")
                    li.active
                        a(href='/inventory') Inventory
                    li
                        a(href='/reports') Reports
                    li
                        a(href='/cmms') CMMS
                    li
                        a(href='/export') Export

                ul.nav.nav-sidebar
                    if(nav_items)
                        for nav_item in nav_items
                            li
                                a(href='/!{nav_item.href}') !{nav_item.name}

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                if inventory.top_items
                    h1.page-header Dashboard
                    .row.placeholders
                        for item in inventory.top_items
                            .col-xs-6.col-sm-3.placeholder
                                img.img-responsive(data-src='!{item.image_url}', alt='!{item.name}')
                                h4 !{item.name}
                                span.text-muted !{item.description}
                                span.text-muted !{item.qty}
                                
                if inventory.items
                    h2.sub-header Current Inventory
                    .table-responsive
                        table.table.table-striped
                            thead
                                tr
                                    th Part Number
                                    th Part Description
                                    th Qty
                            tbody        
                                for item in inventory.items
                                    tr
                                        td !{item.part_number}
                                        td !{item.description}
                                        td !{item.qty}
